.detail {
    margin: 0 auto;
    padding: 20px;
}

.name {
    font-weight: bold;
    font-size: 2em;
}

.contacts {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.90);
}

.contacts:hover {
    color: #4078c0;
    text-decoration: none;
}

.link {
    float: left;
    font-size: 30px;
}

.developer-details :hover {
    border-color: #616161;
    transition: border-color 1s ease-in-out;
    -moz-transition: border-color 1s ease-in-out;
    -webkit-transition: border-color 1s ease-in-out;
    background-color: #f1f1f1;
    transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
}

 .bold_heading{
    font-weight: normal;
    font-size: 20px;
 }