<style type="text/css">
    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

    ul.nav li:hover { 
        color: #000 !important; 
        background-color: #ffffff;
    }

    .navbar-header{
        box-shadow: 3px 3px 3px grey;        
    }

</style>
<div id="header" class="navbar navbar-default navbar-fixed-top" style="background-color: #616161; color: white">
    <div class="navbar-header">
        <a class="navbar-brand" href="/" style="background-color: #fffeff"><span><img src="images/logo.png" alt="StepAppsStore" height="20px"></span></a>
    </div>
    <nav class="collapse navbar-collapse">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/"><i class="fa fa-home" style="font-size: 18px"></i> Home</a></li>
                <li id="about"><a href="https://github.com/sumanmaity112/STEP_app_store/blob/master/README.md"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                <li id="contact"><a href="contact.html"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a></li>
                <li id="github"><a href="https://github.com/sumanmaity112/STEP15Site"><i class="fa fa-github" style="font-size: 18px"></i> Github</a></li>
                <li id="uploadNewProject"><a href="/uploadNewProject.html" title="Upload new project"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{username}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ng-if="!isLoggedIn" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      <li><a href="/logout" ng-if="isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div> 
    </nav>
</div>