<!DOCTYPE html>
<html lang="en" ng-app="website" ng-controller="index">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script type="text/javascript" src="libraries/http_ajax.googleapis.com_ajax_libs_angularjs_1.4.8_angular.js"></script>
    <script type="text/javascript" src="libraries/http_code.jquery.com_jquery-3.1.0.js"></script>
    <script type="text/javascript" src="libraries/http_cdnjs.cloudflare.com_ajax_libs_moment.js_2.14.1_moment.js"></script>
    <script type="text/javascript" src="libraries/http_cdnjs.cloudflare.com_ajax_libs_moment-timezone_0.5.5_moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="init.js"></script>
    <script type="text/javascript" src="controller/indexController.js"></script>
    <script type="text/javascript" src="factories/indexFactory.js"></script>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>

<div>
    <h2>Welcome {{username}}</h2>
</div>
<div>
    <a href="/login.html" ng-if="!isLoggedIn"><button>Login</button></a>
    <a href="/logout" ng-if="isLoggedIn"><button>Logout</button></a>
</div>
<div>
    <a href="/update.html"><button>Upload New Project</button></a>
</div>
<div class="projects">
    <div ng-repeat="project in projects" class="project">
        <div class="projectName">{{project.projectname}}</div>
        <div class="projectLink"><a href="{{project.websitelink}}">{{project.websitelink}}</a></div>
        <li>{{project.sourcelink}}</li><br>
        <li>{{project.uploadedon}}</li><br>
    </div>
</div>

</body>
</html>