<!DOCTYPE html>
<html lang="en" ng-app="StepAppStore.entrance" ng-controller="StepAppStore.entrance.index">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script type="text/javascript" src="libraries/http_ajax.googleapis.com_ajax_libs_angularjs_1.4.8_angular.js"></script>
    <!-- jQuery library -->
    <script type="text/javascript" src="libraries/http_code.jquery.com_jquery-3.1.0.js"></script>
    <script type="text/javascript" src="libraries/http_cdnjs.cloudflare.com_ajax_libs_moment.js_2.14.1_moment.js"></script>
    <script type="text/javascript" src="libraries/http_cdnjs.cloudflare.com_ajax_libs_moment-timezone_0.5.5_moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="init.js"></script>
    <script src="service/formValidationService.js"></script>
    <script type="text/javascript" src="controller/indexController.js"></script>
    <script type="text/javascript" src="factories/indexFactory.js"></script>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/waiting.css">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="styles/http_maxcdn.bootstrapcdn.com_bootstrap_3.3.7_css_bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="libraries/http_maxcdn.bootstrapcdn.com_bootstrap_3.3.7_js_bootstrap.js"></script>

    <!-- SCRIPTS FOR LOGIN -->
    <script src="fb.js"></script>
    <script src="libraries/http_code.jquery.com_jquery-3.1.0.js"></script>
    <script src="controller/loginController.js"></script>

</head>
<body>
    <nav class="navbar navbar-fixed-top bg-warning">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span><img src="images/logo.png" alt="StepAppsStore" height="25"></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="uploadNewProject"><a href="/uploadNewProject.html"><span class="glyphicon glyphicon-cloud-upload"></span> Upload New Project</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
                <li><a ng-if="!isLoggedIn" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/logout" ng-if="isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
<div class="container-fluid margin-top">
    <div class="row card-row">
        <div class="card col-xs-12 col-sm-6 col-md-3" ng-repeat="project in projects">
            <div class="inner">
                <div class="card-block">
                    <h4 class="card-title">{{project.projectname}}</h4>
                    <div class="card-description">{{project.briefdescription}}</div>
                </div>
                <div class="card-block">
                    <a  ng-if="project.websitelink != ''" href="{{project.websitelink}}" target="_blank" class="card-link small-char">Game here</a>
                    <a ng-if="project.sourceLink != ''" href="{{project.sourcelink}}" target="_blank" class="card-link small-char">Code here</a>
                </div>
                <div class="details">
                    <a data-toggle="modal" data-target="#details-modal" ng-click="getDetails(project.uuid)"> Details...</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div ng-include="'footer.html'"></div>

    <!-- MODAL FOR LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="panel">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Login here</h4>
                </div>
                <div class="modal-body">
                    <div id="fb-root"></div>
                    <div id="container">
                        <button id="login_btn" onclick="login()">Login With Facebook</button>
                        <div id="login_status"></div>
                    </div>
                    <div id="login-message">
                        <h4 id="waiting-message">You will be redirect to next page </h4>
                        <div class="waiting">
                            <div class="waiting_dots" id="dot_0"></div>
                            <div class="waiting_dots" id="dot_1"></div>
                            <div class="waiting_dots" id="dot_2"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Forgot password ? Click here -->
                </div>
            </div>
        </div>
    </div>

<!-- MODAL DETAILS ABOUT A PROJECT -->
    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="panel">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="detailsModalLabel">{{details.projectname}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Brief description</td>
                            <td>{{details.briefdescription}}</td>
                        </tr>
                        <tr ng-if="details.sourceLink != ''">
                            <td>Project source link</td>
                            <td><a href="{{details.sourcelink}}"><span class="glyphicon glyphicon-link"></span> {{details.sourcelink}}</a></td>
                        </tr>
                        <tr ng-if="details.websitelink != ''">
                            <td>Project site link</td>
                            <td><a href="{{details.websitelink}}"><span class="glyphicon glyphicon-link"></span> {{details.websitelink}}</a></td>
                        </tr>
                        <tr>
                            <td>Used languages</td>
                            <td>{{details.usedlanguages}}</td>
                        </tr>
                        <tr ng-if="details.usedframeworks != ''">
                            <td>Used framework (modules)</td>
                            <td>{{details.usedframeworks}}</td>
                        </tr>
                        <tr>
                            <td>Developed by</td>
                            <td>{{details.developedby}}</td>
                        </tr>
                        <tr>
                            <td>Upload by</td>
                            <td>{{details.uploadby}}</td>
                        </tr>
                        <tr>
                            <td>Uploaded on</td>
                            <td>{{details.uploadedon}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div ng-if="details.uploadedbyuserid === userId">
                        <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#edit-modal">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL EDIT A PROJECT -->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="panel">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="{{'/submit/project/' + details.uuid}}" method="post" onsubmit="return validateFormData()">
                            <!--  -->
                            <div class="form-group modal-footer">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>